<!DOCTYPE html>
<html>
	<head>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href='http://fonts.googleapis.com/css?family=Abel|Amatic+SC:700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    	<!-- <link rel='stylesheet' href='../public/css/fem.css'> -->
    	<link rel='stylesheet' href='/css/nicole.css'>
		<title>Nicole Javorsky</title>
	</head>
	<body>
		<div id="intro">
			<div id="logo">
				<h1>nicolie olie</h1>
			</div>
			<span class="social" style="position:absolute;top:0;right:0;">
		        <a href="https://twitter.com/nicolieolie95" target="_blank">
		        	<i class="fa fa-twitter-square"></i>
		        </a>

		        <a href="https://github.com/nicolejavorsky" target="_blank">
		        	<i class="fa fa-github-square"></i>
		        </a>
			</span>
			<div id="tagline">
				<h2>Coding's my thing. Also, dancing in the rain and Twister (the best game ever).</h2>
			</div>
		</div>
	</body>
</html>