<!DOCTYPE html>
<html>
	<head>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href='http://fonts.googleapis.com/css?family=Abel|Amatic+SC:700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    	<link rel='stylesheet' href='/css/nicole.css'>
		<title>Nicole Javorsky</title>
	</head>
	<body>
		<header id="intro">
			<div id="logo">
				<h1>nicolie olie</h1>
			</div>
			<span class="social" style="position:absolute;right:0;">
		        <a href="https://twitter.com/nicolieolie95" target="_blank">
		        	<i class="fa fa-twitter-square"></i>
		        </a>

		        <a href="https://github.com/nicolejavorsky" target="_blank">
		        	<i class="fa fa-github-square"></i>
		        </a>
			</span>
		</header>

		<section id="about">
			<div class="name">	
				<h1>About Nicole Javorsky</h1>
			</div>
			<div class="tagline">
				<h3>Coding's my thing.  Also, dancing in the rain and Twister (the best game ever).</h3>
				<p>I'm a student majoring in Computer Science at Barnard College of Columbia University.  I founded a non-profit organization called <a href="http://www.cubsforcoping.org/" target="_blank">Cubs for Coping</a>.  Basically, we hold events where volunteers make teddy bears and then we donate those teddies to hospitals, homeless shelters, and eating disorder programs.  We're pretty cute.  I'm crafty (as evidenced by starting an organization involving the creation of teddy bears) and super creative in general.  I have an entire <a href="https://instagram.com/nicolieolieart/" target="_blank">Instagram</a> account devoted to my wonderful artwork.  Most of all, I love coding and designing websites like this one.  I think I'm pretty awesome, but, if you're not convinced yet, I suggest that you check out my about page.</p>
			</div>
		</section>

		<footer>
			<h4>&copy Nicole Javorsky</h4>
		</footer>
	</body>
</html>