html, body {
	font-family: 'Abel', sans-serif;
}

#intro {
	background: url('/images/home-nicole.jpg') no-repeat center center fixed;
	width: 100%;
	height: 800px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#logo {
	padding: 1%;
	text-align: left;
	color: #A5C4A4;
}

#logo h1 {
	font-family: 'Amatic SC', cursive;
	font-size: 72px;
}

h3 {
	font-size: 42px;
}

#tagline {
	text-align: center;
	padding: 5%;
	position: absolute;
	top: 500px;
}

.btn-social-icon {
	color: #A5C4A4;
}

.social {
	text-align: right;
	padding: 5%;
}

.social .btn:hover {
	background: #fff; 
	color: #A5C4A4;
}

.social {
	position: absolute;
	left: 186px;
	top: 20px;
	font-size: 40px;
}
.social a {
	color: #A5C4A4;
	text-decoration: none;
}
.social a:hover {
	color: #fff;
}