#intro {
  background: url('/images/home-nicole.jpg') no-repeat center center fixed;
  width: 100%;
  height: 800px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logo img {
	height: 200px;
	width: auto;
}

.btn-social-icon {
	color: #C1E6CC;
}

.social {
	text-align: right;
	padding: 5%;
}

.social .btn:hover {
	background: #fff; 
	color: #C1E6CC;
}

.social {
	position: absolute;
	left: 186px;
	top: 20px;
	font-size: 40px;
}
.social a {
	color: #C1E6CC;
	text-decoration: none;
}
.social a:hover {
	color: #fff;
}